<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OBONConnectionString" connectionString="Data Source=172.30.22.50;Initial Catalog=OBON;User ID=sa;Password=apple~1093" providerName="System.Data.SqlClient"/>
    <!--<add name="OBONConnectionString" connectionString="Data Source=172.30.200.71;Initial Catalog=OBON;User ID=sa;Password=u.g4dk4zj6" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>